:root{ 
    --bg: #3a2f29;
   --bg-uno: #b58756; 
  --bg-dos:        #c5ac88; 
  --bg-tres:   #674726; 
  --bg-cuatro:        #815a40; 
  --bg-cinco:  #32140c; 
  --bg-seis: #c7968d;
  --bg-siete:   #77550e; 
  --bg-ocho: #d2c58b;
  --bg-nueve: #b57a3f;
  --bg-diez:     #8b4113; 
  --bg-once: #d0c4a6;
  --bg-doce:  #ae8f72;

  --fuente-titulo: Arial;
  --fuente-cuerpo: sans-serif;
  --shadow: 0 8px 22px rgba(0,0,0,.06);
  --transicion-suave : 0.3s ease;

  --r-xl: 22px;
  --r-lg: 16px;
  --container: 1000px;

}
.caja{
   background:#ebb67e; 
   border: 2px #ebb67e;
    margin: 40px;
    padding-bottom: 30px;
    padding-top: 0%;
    padding-left : 30px;
    padding-right : 30px;
    line-height: 1.55;
    color: #3a2f29;
}

.main-nav{ margin-left:auto; display:flex; gap:1rem }
.main-nav a{
  text-decoration:none; color:var(--bg-tres);
  padding:.45rem .8rem;
  border-radius:999px;
  font-weight:600;
}

.site-header{
  background: #be8b58; 
  border: 2px solid var(--bg-tres);
  border-radius: 999px;             
  margin: 14px auto;
  width: min(96%, 1120px);
  box-shadow: var(--shadow);    
}

.header-inner{
  display:flex;
 align-items:center;
  gap:1rem;
  padding:.6rem 1rem;
}

.brand{ 
  display:flex; align-items:center; gap:.55rem;
  padding:.35rem .8rem;
  background: #f1c587;
  border: 2px solid var(--bg-cuatro);
  border-radius: 999px;
  color: var(--bg-tres);
  font-weight:800;
}

.container {
  width: min(92%, var(--container));
  margin-inline: auto;
}

.main-nav a:hover{
  background: #7e5347;
  color: #f1c587;
  text-decoration:dashed;
}

.font-body  { font-family: var(--fuente-cuerpo); }


.titulo-principal-container {
  text-align: center;
  margin-bottom: 3rem;
}
.titulo-principal {
    background: #be8b58;
    font-family: var(--fuente-titulo);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
  border: 10px double var(--bg-tres);
  border-radius: 40px;
  color: var(--bg-cinco);

}

.redes-titulo{
    text-align: center;
    margin-bottom: 3rem;
    background: #be8b58;
    font-family: var(--fuente-cuerpo);
    font-size: 1rem;
    font-weight: medium;
    margin-bottom: 3rem;
    border: 10px double var(--bg-tres);
    border-radius: 40px;
    color: var(--bg-cinco);
}

.redes{
    text-align: center;
    background: var(--bg-cinco);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 10px 5px -3px rgba(0,0,0,.1),
              0 2px 3px -1px rgba(0,0,0,.05);
    transition: transform var(--transicion-suave);
    
}
.caja-formulario {
  width: 80%; 
  max-width: 500px; 
  margin: 20px auto;  
  padding: 20px; 
  background:var(--bg-uno) ;
  border: 10px double var(--bg-tres);
  border-radius: 40px;
  color: var(--bg-cinco);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}
.formulario input[type="submit"] {
  background: var(--bg-cinco);
  color: white;
  cursor: pointer;
  margin-top: 15px;
  border: none;
  padding: 10px;
}
.boton-redondo {
  padding: 12px 25px;
  background-color: var(--bg-cinco); 
  color: white;            
  border: none;            
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.boton-redondo:hover {
  background-color: var(--bg-cinco); 
  transform: scale(1.05); 
}

.caja-horarios{
    width: 80%; 
  max-width: 500px; 
  margin: 20px auto;  
  padding: 20px; 
  background:var(--bg-uno) ;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  border: 10px double var(--bg-tres);
  border-radius: 40px;
  color: var(--bg-cinco);
}
.mi-link {
  text-decoration: none;
  color: white;
  background-color: var(--bg-cinco); 
  padding: 8px 15px;  
  border-radius: 8px;  
  transition: background-color 0.3s;
}

.mi-link:hover {
  background-color:var(--bg-cuatro); 
}