:root{
  --col-uno: #b58756; 
  --col-dos:        #c5ac88; 
  --col-tres:   #674726; 
  --col-cuatro:        #815a40; 
  --col-cinco:  #32140c; 
  --col-seis: #c7968d;
  --col-siete:   #77550e; 
  --col-ocho: #d2c58b;
  --col-nueve: #b57a3f;
  --col-diez:     #8b4113; 
  --col-once: #d0c4a6;
  --col-doce:  #ae8f72;
  --col-trece: #fffdf9;
}