:root {
  --color-bg-primario: #F3E9DC;
  --color-bg-secundario: #D9C7B8;
  --color-texto-primario: #5C3D2E;

  --fuente-titulo: serif;
  --fuente-cuerpo: sans-serif;

  --espaciado-base: 1rem;
  --transicion-suave: 0.3s ease;
  --escala-hover: 1.05;

  --col-uno: #5C3D2E;     
  --col-tres: #2B1A12;      
  --shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.main-nav{ margin-left:auto; display:flex; gap:1rem }
.main-nav a{
  text-decoration:none; color:var(--col-tres);
  padding:.45rem .8rem;
  border-radius:999px;
  font-weight:600;
}
.main-nav a:hover{
  background: var(--col-uno);
  color: #f1c587;
  text-decoration:dashed;
}
.site-header{
  background: #cea976; 
  border: 2px solid var(--col-uno);     
  border-radius: 999px;             
  margin: 14px auto;
  width: min(96%, 1120px);
  box-shadow: var(--shadow);        
}
.header-inner{
  display:flex; align-items:center;
  gap:1rem;
  padding:.6rem 1rem;
}
.brand{ 
  display:flex; align-items:center; gap:.55rem;
  padding:.35rem .8rem;
  background: #f1c587;
  border: 2px solid var(--col-uno);
  border-radius: 999px;
  color: var(--col-tres);
  font-weight:800;
}





.font-title { font-family: var(--fuente-titulo); }
.font-body  { font-family: var(--fuente-cuerpo); }
.bg-primary   { background-color: var(--color-bg-primario); }
.bg-secondary { background-color: var(--color-bg-secundario); }

.titulo-principal-container {
  text-align: center;
  margin-bottom: 3rem;
}
.titulo-principal {
  font-family: var(--fuente-titulo);
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.titulo-seccion {
  font-family: var(--fuente-titulo);
  font-size: 1.875rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.linea-decorativa {
  width: 6rem;
  height: 0.25rem;
  background-color: var(--color-bg-primario);
  margin: 0 auto;
}
.titulo-producto {
  font-family: var(--fuente-titulo);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tarjeta-producto {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),
              0 4px 6px -2px rgba(0,0,0,.05);
  overflow: hidden;
  transition: transform var(--transicion-suave);
}
.contenedor-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.texto-negrita-xl {
  font-weight: bold;
  font-size: 1.25rem;
}
.imagen-producto {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
